<h1>Password#reset</h1>
hi <%= params[:user].email %>
Someone requested a reset of your password.

If this was you, click the link to reset you password. This link would expire automatically in 15 mins
<%= password_reset_edit_url(token: @token) %>
